<div>
    <h2>Imeis</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="imei.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Imei
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imei1"><span>Imei 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imei2"><span>Imei 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="invoiceItem.id"><span>Invoice Item</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="imei in vm.imeis track by imei.id">
                    <td><a ui-sref="imei-detail({id:imei.id})">{{imei.id}}</a></td>
                    <td>{{imei.imei1}}</td>
                    <td>{{imei.imei2}}</td>
                    <td>
                        <a ui-sref="invoice-item-detail({id:imei.invoiceItem.id})">{{imei.invoiceItem.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="imei-detail({id:imei.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="imei.edit({id:imei.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="imei.delete({id:imei.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
