
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserSequenceLabel">Create or edit a User Sequence</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userSequence.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userSequence.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.userSequence.createdBy"
                    required />
            <div ng-show="editForm.createdBy.$invalid">
                <p class="help-block"
                    ng-show="editForm.createdBy.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_salesSequence">Sales Sequence</label>
            <input type="number" class="form-control" name="salesSequence" id="field_salesSequence"
                    ng-model="vm.userSequence.salesSequence"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sampleInvoiceSequence">Sample Invoice Sequence</label>
            <input type="number" class="form-control" name="sampleInvoiceSequence" id="field_sampleInvoiceSequence"
                    ng-model="vm.userSequence.sampleInvoiceSequence"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="rbaccountsApp.userSequence.prefix_tax" for="field_prefix_tax">Prefix Tax</label>
            <input type="text" class="form-control" name="prefix_tax" id="field_prefix_tax"
                    ng-model="vm.userSequence.prefix_tax"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="rbaccountsApp.userSequence.prefix_sales" for="field_prefix_sales">Prefix Sales</label>
            <input type="text" class="form-control" name="prefix_sales" id="field_prefix_sales"
                    ng-model="vm.userSequence.prefix_sales"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="rbaccountsApp.userSequence.prefix_sample" for="field_prefix_sample">Prefix Sample</label>
            <input type="text" class="form-control" name="prefix_sample" id="field_prefix_sample"
                    ng-model="vm.userSequence.prefix_sample"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_taxSequence">Tax Sequence</label>
            <input type="number" class="form-control" name="taxSequence" id="field_taxSequence"
                    ng-model="vm.userSequence.taxSequence"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
